.body{
    background-color: rgb(26, 3, 47);
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}
.project{
    width: 175px;
    height: 225px;
    background-color: antiquewhite;
    opacity: .7;
    border: 2px solid rgba(154, 145, 145, 0.595);
    text-align: center;
}
.h1{
    font-size: 20px;
    text-align: center;
}

.bio{
    width: 350px;
    color:antiquewhite;
}
.img{
    background-image: url(./IMG_0072\ \(1\).jpg);
    width: 100vh;
    height: 59vh;
   background-size: contain;
   background-repeat: no-repeat;
}
.imgblock{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.aboutme{
    margin-left: 40px;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: center;
}









ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(138, 149, 20);
    opacity: .7;
  }
