.Box {
text-align: right;
word-wrap: normal;
font-size: 20px;
-webkit-text-fill-color: #8AA79D;
background-image: url('https://images.pexels.com/photos/2422970/pexels-photo-2422970.jpeg');
background-size: cover;
height: 600px;
background-repeat: no-repeat;
}

.Fontcolor{

    -webkit-text-fill-color: #204645;
}
.FontAlignLeft{
    padding-left: 4%;
text-align: left;
font-size: 20px;
}

.Aboutme{
    background: #DCE1DE;
    mix-blend-mode: normal;
} 
.Portfolio{ 
 

background: #DCE1DE;
} 

.Techstack{

background: #DCE1DE;

} 
.Contactme{
background: #DCE1DE;
}

.Sheet{
    background-color: #DCE1DE;
}

.btn{
   text-align: left;
   padding-left: 5%;
    cursor: pointer;
    margin-right: 5px;
}
.fa-brands{
   cursor:pointer;
   font-size: larger;
}
.form{
    width: 300px
}
.input{
    width: 100%
}